<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqd.bus.mapper.InportMapper">

    <!--查询所有的过期预警食品批次-->
    <select id="loadAllWarningDate" resultType="com.zqd.bus.entity.Inport">
        SELECT *,DATEDIFF(endtime, NOW()) AS warndate FROM bus_inport WHERE DATEDIFF(endtime, NOW()) &lt;= 30
    </select>

</mapper>
